" Pathogen

execute pathogen#infect()
execute pathogen#helptags()

" Vundle

set nocompatible
filetype off
call vundle#begin('~/.vim/vundle')

Plugin 'gmarik/Vundle.vim'
Plugin 'Valloric/YouCompleteMe'
Plugin 'octol/vim-cpp-enhanced-highlight'
Plugin 'rking/ag.vim'
Plugin 'rust-lang/rust.vim'

Bundle 'christoomey/vim-tmux-navigator'
Bundle 'christfo/vim-mercenary'
Bundle 'altercation/vim-colors-solarized'

call vundle#end()
"filetype plugin indent on

" YCM

let g:ycm_global_ycm_extra_conf = '/usr/share/vim/vimfiles/third_party/ycmd/cpp/ycm/.ycm_extra_conf.py'

" General

syntax on
filetype on
set background=dark
let g:solarized_contrast="high" 
let g:solarized_termtrans=1
let g:solarized_termcolours=256
colorscheme solarized

let leader = "\\"

set expandtab
set tabstop=2
set shiftwidth=2
set autoindent
set smartindent
set hlsearch
set number
set mouse=a
set foldmethod=syntax
set ignorecase
set incsearch
set foldcolumn=4
set colorcolumn=80
set splitright
set splitbelow

nnoremap <up> <nop>
nnoremap <left> <nop>
nnoremap <right> <nop>
nnoremap <down> <nop>
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <leader>rc :tabe ~/.vimrc<cr>
nnoremap <leader>src :so ~/.vimrc<cr>:echo "Reloaded .vimrc"<cr>

" Ctags

let Tlist_Ctags_Cmd = "/usr/bin/ctags"
let Tlist_Inc_Winwidth = 0
let Tlist_WinWidth = 80

nnoremap <leader>tlt :TlistToggle<cr><c-W>h
nnoremap <leader>tlu :TlistUpdate<cr>
nnoremap <leader>def :TlistShowPrototype<cr>

" NERDTree

nnoremap <leader>nt :NERDTreeToggle<cr>

" YouCompleteMe

nnoremap <leader>yc :YcmForceCompileAndDiagnostics<cr>
nnoremap <leader>yd :YcmDiag<cr>
nnoremap <leader>yt :YcmCompleter GetType<cr>
nnoremap <leader>yp :YcmCompleter GetParent<cr>
nnoremap <leader>ygg :YcmCompleter GoTo<cr>
nnoremap <leader>ygh :YcmCompleter GoToDeclaration<cr>
nnoremap <leader>ygd :YcmCompleter GoToDefinition<cr>
nnoremap <leader>ygi :YcmCompleter GoToImplementation<cr>

" Cscope

set cscopequickfix=s-,c-,d-,i-,t-,e-

nnoremap <leader>cc :lcs f c <C-R>=expand("<cword>")<cr><cr>:lopen<cr>
nnoremap <leader>cC :lcs f d <C-R>=expand("<cword>")<cr><cr>:lopen<cr>
nnoremap <leader>cd :lcs f g <C-R>=expand("<cword>")<cr><cr>:lopen<cr>
nnoremap <leader>ci :lcs f i <C-R>=expand("<cfile>")<cr><cr>:lopen<cr>

" searching

nnoremap <leader>sdsc :lv/<C-R>=expand("<cword>")<cr>/j dsc/**/*.cpp<cr>:lopen<cr>
nnoremap <leader>sdsm :lv/<C-R>=expand("<cword>")<cr>/j dsm/**/*.cpp<cr>:lopen<cr>
nnoremap <leader>seca :lv/<C-R>=expand("<cword>")<cr>/j eca/**/*.cpp<cr>:lopen<cr>
nnoremap <leader>sall :lv/<C-R>=expand("<cword>")<cr>/j ./**/*.cpp<cr>:lopen<cr>
nnoremap <leader>sf   :lv/<C-R>=expand("<cword>")<cr>/j <C-R>=expand("%")<cr><cr>:lopen<cr>

nnoremap <leader>f :lnext<cr>
nnoremap <leader>b :lprev<cr>

" Misc

nnoremap <leader>rf o// ----------------------------------------------------------------------------<esc>
nnoremap <leader>rh o// ------------------------------------<esc>
nnoremap <leader>rq o// --------------------<esc>

command! REJ split %.rej
command! Q tabclose
command! F cs f f
