#!/usr/bin/env bash

set -eo pipefail

fail() {
  echo "$1" >&2 && exit 1
}

parse_args() {
  while [[ $# -gt 0 ]];
  do
    -o|--output) shift; outfile=$1; shift ;;
    *) fail "Unknown option $1" ;;
  done
}

print_user() {
}

main() {
  parse_args "$@"

}

main "$@"
