[Unit]
Description=Prometheus

[Service]
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/config.yml \
  --storage.tsdb.path=/var/local/prometheus/data \
  --storage.tsdb.retention=14d \
  --web.listen-address=localhost:9090 \
  --web.external-url=http://192.168.0.103/prometheus/
Restart=always

[Install]
WantedBy=multi-user.target
